{% load static %}
{% block style_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autoinsight</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Noto+Serif+KR:700&display=swap"
          rel="stylesheet">
    <!-- static -->
    <link href="{% static 'autoinsight_frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'autoinsight_frontend/img/favicon.ico' %}">
{% endblock %}

{% block script_foot %}
    <script>
        var g_RESTAPI_HOST_BASE = '{{ BACKEND_RESTAPI_URL }}'; // base.js로 이전예정
        var runtime_id = '{{ runtime_id }}';
    </script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/deploy.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $FRONTEND._p.base();
            $FRONTEND._p.init();
        });
    </script>
{% endblock %}

{% block page_content %}
    <div class="wrapper">
        <header>
            <div class="container">
                <a href="/">
                    <h1>
                        <img src="{% static 'autoinsight_frontend/img/logo_automl.png' %}" class="img_logo" width="221"
                             height="42" alt="AutoInsight">
                    </h1></a>
            </div>
        </header>
        <!-- //header -->

        <main>
            <div class="container">
                <div class="wrap_nav">
                    <button id="data_btn" class="btn_back" type="button"
                            onclick="window.location.href='/experiment'"><span class="ico_automl ico_back">Back to Experiments</span>
                    </button>
                    <nav class="nav_cont">
                        <ul class="list_menu">
                            <li>
                                <a class="link_menu" href="/overview/{{ runtime_id }}/">Overview</a>
                            </li>
                            <li>
                                <a class="link_menu" href="/preprocess/{{ runtime_id }}/">Preprocess</a>
                            </li>
                            <li>
                                <a class="link_menu" href="/leaderboard/{{ runtime_id }}/">Leaderboard
                                    <div id="leaderboard_loader"></div>
                                </a>
                            </li>
                            <li class="active">
                                <a class="link_menu" href="/deploy/{{ runtime_id }}/">Deploy Model</a>
                            </li>
                        </ul>
                    </nav>
                    <button id="runButton" class="btn_b" type="button" data-toggle="modal" data-target="#modal-run" onclick="$FRONTEND._p.setRunModal()" >
                    </button>
                    <!--<div id="run-setting" class="layer_automl layer">
                        <div class="wrap_btn layer">
                            <button id="classification_confirm" type="button" class="btn_m" onclick="$FRONTEND._p.updateConfirmInfo('classifier')">Classification</button>
                            <button id="regression_confirm" type="button" class="btn_m" onclick="$FRONTEND._p.updateConfirmInfo('regressor')">Regression</button>
                        </div>
                        <dl>
                            <div class="item_dl type_inline">
                                <dt>Target</dt>
                                <dd>
                                    <span id="target_confirm"></span>
                                </dd>
                            </div>
                            <div class="item_dl type_inline">
                                <dt>Metric</dt>
                                <dd>
                                    <div class="wrap_select">
                                        <select id="metric_confirm" class="form-control layer" onchange="$FRONTEND._p.updateConfirmInfo()">
                                        </select>
                                    </div>
                                   <button class="btn_set"><span class="ico_automl ico_set">설정</span></button>
                                </dd>
                            </div>
                        </dl>
                        <span class="tail"></span>
                    </div>-->
                </div>
                <section class="section_content" id="deployed">
                    <h2 class="screen_out">Deploy Model</h2><!-- tab menu 에서 선택된 텍스트가 들어갑니다. -->
                    <div class="area_tit">
                        <h3 id="estimator_name" class="tit_table"></h3>
                    </div>
                    <div class='help-text'>
                        Deploy the model to your platform to get predictions
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <strong class="screen_out">Basic Information</strong>
                            <ul class="nav nav-tabs list_menu">
                                <li class="nav-item active">
                                    <a href="#" class="nav-link link_menu">Overview</a>
                                </li>
                                <!--<li class="nav-item">
                                    <a href="#" class="nav-link link_menu">Stats</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link link_menu">Evalution</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link link_menu">Information</a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="panel-body box_content">
                            <div class="info_deploy">
                                Trained prediction score: <span id="score"></span><br>
                                Deployment date: <span id="created_at"></span>
                            </div>
                            <div class="wrap_code">
                                <div class="desc_code">
                                    <p>
                                        The model binary files can be used in individual environments using the pickle library.<br>
                                        It requires python 3.7 or higher, scikit-learn==0.22.1, Autoinsight module(optional)
                                    </p>

                                    <a class="btn_down" href="{{ BACKEND_RESTAPI_URL }}runtimes/{{ runtime_id }}/deployment/export">Download model binary</a>
                                </div>
                                <pre>
                                    <code>
                                        <span style="color: rgb(64, 128, 128); font-style: italic;"># You can check the model pipeline with the following code.</span>
                                        <span style="color: rgb(149, 65, 33);">import</span> pickle
                                        pipeline = pickle.load(open(<span style="color: rgb(33, 145, 97);">'downloaded.bin', 'rb'</span>))
                                        print(pipeline)
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <strong class="panel-title">Prediction</strong>
                        </div>
                        <div class="panel-body">
                            <strong class="info_prediction">Data processing for the form below is open to the RestAPI URL.</strong>
                            <table class="table-condensed tbl_predict">
                                <colgroup>
                                    <col style="width:105px">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td><span class="badge badge-danger">URL</span></td>
                                    <td><span style="text-decoration: underline;">{{ BACKEND_RESTAPI_URL }}deployment/{{ runtime_id }}/deployment/predict/</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="badge badge-danger">Method</span>
                                    </td>
                                    <td><b>POST</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="badge badge-danger">Input</span>
                                    </td>
                                    <td>
                                        Comma Separated Data with <b>inputs</b> as the keys.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="badge badge-danger">Output</span>
                                    </td>
                                    <td><b>prediction result</b>, <b>errors</b>(if exists), <b>explanation of the prediction</b>(lime html)
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table-striped tbl_g tbl_predict2">
                                <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Datatype</th>
                                    <th>
                                        <button type="button" class="btn_border btn_s"
                                                onclick="$FRONTEND._p.fillMostFrequent();">Fill with the most frequent values
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="predict_table">
                                </tbody>
                            </table>
                            <div class="txt_r">
                                <button type="button" class="btn_confirm btn_b"
                                        onclick="$FRONTEND._p.singlePredict();">Predict
                                </button>
                            </div>
                            <div id="single_result" class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>result</th>
                                        <th>errors</th>
                                    </tr>
                                    </thead>
                                    <tbody id="single_result_tbody">
                                    </tbody>
                                </table>
                                <h4>Explanation of the prediction</h4>
                                <p id="single_result_lime">
                                    <iframe style='border: 0; width:100%;height: 300px;'></iframe>
                                </p>
                                <p id="lime_text"></p>

                            </div>
                        </div>
                    </div>
                    <!--<div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">데이터 예측하기(CSV)</h3>
                        </div>
                        <div class="panel-body">
                            <textarea id="outlined-textarea" label="Prediction Form for Bulkdata" placeholder="csv형식의 데이터를 여러 행 붙여넣을 수 있습니다." class="form-control" rows="8" style="width: 100%;"></textarea>
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="$FRONTEND._p.bulkPredict();">예측하기</button>
                        </div>
                        <div id="bulk_result" class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>inputs</th>
                                    <th>results</th>
                                    <th>errors</th>
                                </tr>
                                </thead>
                                <tbody id="bulk_result_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>-->
                </section>
                <section class="section_content" id="not_deployed">
                    <p>You have no deployments yet</p>
                </section>
            </div>

        </main>
        <!-- //main -->
    </div>
    <!-- run automl -->
    <div id="modal-run" class="modal popup_run">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="header_popup">
                    <strong class="tit_popup">Run Automl</strong>
                </div>
                <div class="body_popup">
                    <div class="wrap_btn layer">
                        <button id="classification_confirm" type="button" class="btn_m" onclick="$FRONTEND._p.updateEstimatorType('classifier')">Classification</button> <!-- 선택시 on 클래스 추가 -->
                        <button id="regression_confirm" type="button" class="btn_m" onclick="$FRONTEND._p.updateEstimatorType('regressor')">Regression</button>
                    </div>
                    <dl>
                        <div class="item_dl type_inline">
                            <dt>Target</dt>
                            <dd>
                                <span id="target_confirm"></span>
                            </dd>
                        </div>
                        <div class="item_dl type_inline">
                            <dt>Metric</dt>
                            <dd>
                                <div class="wrap_select">
                                    <select id="metric_confirm" class="form-control layer" onchange="$FRONTEND._p.updateMetric()">
                                    </select>
                                </div>
                                <!--<button class="btn_set"><span class="ico_automl ico_set">설정</span></button>-->
                            </dd>
                        </div>
                    </dl>
                </div>
                <div class="footer_popup">
                    <div class="wrap_btn txt_r">
                        <button class="btn_m btn_run" type="button" onclick="$FRONTEND._p.runAutoml()">
                            Run AutoML <span class="ico_automl ico_arr"></span>
                        </button>
                        <button type="button" class="btn_m" data-dismiss="modal">Cancel</button>
                    </div>
                    <button type="button" class="btn_close" data-dismiss="modal"><span class="ico_automl ico_close">팝업닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //run automl -->
    <!-- //wrapper -->
{% endblock %}
