{% load static %}
{% block style_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autoinsight</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Noto+Serif+KR:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- static -->
    <link href="{% static 'autoinsight_frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'autoinsight_frontend/img/favicon.ico' %}">
{% endblock %}

{% block script_foot %}
    <script>
        var g_RESTAPI_HOST_BASE = '{{ BACKEND_RESTAPI_URL }}'; // base.js로 이전예정
        var runtime_id = '{{ runtime_id }}';
    </script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/jquery-3.3.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/leaderboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- high chart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://highcharts.github.io/pattern-fill/pattern-fill-v2.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <!-- //high chart -->
    <script>
        $(document).ready(function() {
            $FRONTEND._p.init();
        });
    </script>

{% endblock %}
{% block page_content %}
    <div class="wrapper wrap_leaderboard">
        <header>
            <div class="container">
                <a href="/">
                    <h1>
                        <img src="{% static 'autoinsight_frontend/img/logo_automl.png' %}" class="img_logo" width="221" height="42" alt="AutoInsight">
                    </h1></a>
            </div>
        </header>
        <!-- //header -->

        <main>
            <div class="container">
                <nav>
                    <ul class="list_menu">
                        <li>
                            <a class="link_menu" href="/preprocess/{{ runtime_id }}/">Preprocess</a>
                        </li>
                        <li class="active">
                            <a class="link_menu" href="/leaderboard/{{ runtime_id }}/">Leaderboard <div id="leaderboard_loader"></div></a>
                        </li>
                        <li>
                            <a class="link_menu" href="/deploy/{{ runtime_id }}/">Deploy Model</a>
                        </li>
                    </ul>
                </nav>
                <button id="data_btn" class="btn_back" type="button"
                        onclick="window.location.href='/experiment'"><span class="ico_automl ico_back">Back to Experiments</span>
                </button>
            </div>

            <div class="container">
                <section class="section_content">
                    <h2 class="screen_out">Leaderboard</h2><!-- tab menu 에서 선택된 텍스트가 들어갑니다. -->
                    <div class='help-text help-tab'>
                        Check the highest evaluated model pipelines ordered by the metric selected.
                    </div>
                    <div class="info_table">
                        <div class="area_progress">
                            <strong class="tit_progress">Total Progress</strong>
                            <div class="graph_progress">
                                <span id="progress_bar" class="bar_progress"></span>
                            </div>
                            <span class="num_progress"><label id="percent"></label></span>
                            <div class="time_progress">
                                <label id="elapsed"></label>
                                <span class="time_total">/ <label id="timeout"></label></span>
                            </div>
                        </div>
                        <div class="area_chart">
                            <span class="tit_chart">Score Trend</span>
                            <canvas id="score_trend" width="300" height="100"></canvas>
                        </div>
                        <button id="stopButton" class="btn_m btn_stop" type="button" onclick="$FRONTEND._p.stopAutoml()"><span class="ico_automl ico_stop"></span>Stop</button>
                    </div>

                    <table id="learderboard_table"
                           data-toggle="table"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="{{ BACKEND_RESTAPI_URL }}runtimes/{{ runtime_id }}/leaderboard/"
                           data-data-field="results"
                           data-total-field="count"
                           class="tbl_g table_leaderboard">
                        <colgroup>
                            <col style="width:371px">
                            <col style="width:225px">
                            <col style="width:150px">
                            <col style="width:150px">
                            <col style="width:150px">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-field="estimatorName" data-formatter="$FRONTEND._p.modelFormatter" class="txt_l">Model
                                <!--<button class="btn_sort" type="button"><span class="ico_automl ico_sort">정렬</span></button>--></th>
                            <th data-field="score" class="txt_l">Score
                                <!--<button class="btn_sort" type="button"><span class="ico_automl ico_sort">정렬</span></button>--></th>
                            <th data-field="id" data-formatter="$FRONTEND._p.statsFormatter">Statistics</th>
                            <th data-field="id" data-formatter="$FRONTEND._p.explanationFormatter">Explanation</th>
                            <th data-field="id" data-formatter="$FRONTEND._p.infoFormatter">Information</th>
                            <th data-field="id" data-formatter="$FRONTEND._p.deployFormatter">Deploy</th>
                        </tr>
                        </thead>
                    </table>
                </section>
            </div>
        </main>
        <!-- //main -->

    </div>

    <!-- Model Stats -->
    <div class="modal fade popup_info" id="modal-stats" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="header_popup">
                    <strong class="tit_popup">Model Statistics</strong>
                    <div class='help-text'>
                        You can see additional statistics about the model.
                    </div>
                </div>
                <div class="body_popup" id="modal-stats-loading">
                    Loading... Please wait.
                </div>
                <div class="body_popup" id="modal-stats-error">
                    Sorry. This model cannot load statistics.
                </div>
                <div class="body_popup" id="modal-stats-done">
                    <ul class="nav nav-tabs list_menu" id="myTab"  role="tablist">
                        <li id ="featureChart_tab" class="active" style="display: none;">
                            <a class="link_menu" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Feature Importance</a>
                        </li>
                        <li id ="rocChart_tab" style="display: none;">
                            <a class="link_menu" data-toggle="tab" href="#roc" role="tab" aria-controls="roc" aria-selected="false">ROC Curve</a>
                        </li>
                        <!--<li class="active">
                            <a class="link_menu" data-toggle="tab" href="#classification" role="tab" aria-controls="classification" aria-selected="true">Classification</a>
                        </li>-->
                        <li id ="conf_matrix_tab" style="display: none;">
                            <a class="link_menu" data-toggle="tab" href="#matrix" role="tab" aria-controls="matrix" aria-selected="false">Confusion Matrix</a>
                        </li>
                        <li id ="balanceChart_tab" style="display: none;">
                            <a class="link_menu" data-toggle="tab" href="#balance" role="tab" aria-controls="balance" aria-selected="false">Class Balance</a>
                        </li>
                        <li id ="residualsChart_tab" style="display: none;">
                            <a class="link_menu" data-toggle="tab" href="#residuals" role="tab" aria-controls="residuals" aria-selected="false">Residuals</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content box_content">
                        <div class="tab-pane fade active in" id="feature" role="tabpanel" aria-labelledby="feature-tab">
                            <a class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                <div class="txt_tooltip">
                                    Description of how much each feature contributes to decreasing the weighted impurity
                                </div>
                            </a>
                            <div id="featureChart"></div>
                        </div>
                        <div class="tab-pane" id="roc" role="tabpanel" aria-labelledby="roc-tab">
                            <a class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                <div class="txt_tooltip">
                                    Plotting of the true positive rate (TPR) against the false positive rate (FPR) at various threshold settings
                                </div>
                            </a>
                            <canvas id="rocChart"></canvas>
                        </div>
                        <!--<div class="tab-pane fade active in" id="classification" role="tabpanel" aria-labelledby="classification-tab">
                        </div>-->
                        <div class="tab-pane" id="matrix" role="tabpanel" aria-labelledby="matrix-tab">
                            <a class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                <div class="txt_tooltip">
                                    Visualization of the performance of an algorithm
                                </div>
                            </a>
                            <div id="conf_matrix" style="height: 400px; width:100%"></div>
                        </div>
                        <div class="tab-pane" id="balance" role="tabpanel" aria-labelledby="balance-tab">
                            <a class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                <div class="txt_tooltip">
                                    Distribution of each class
                                </div>
                            </a>
                            <div id="balanceChart"></div>
                        </div>
                        <div class="tab-pane" id="residuals" role="tabpanel" aria-labelledby="residuals-tab">
                            <a class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                <div class="txt_tooltip">
                                    Graph that shows the residuals on the vertical axis and the independent variable on the horizontal axis
                                </div>
                            </a>
                            <canvas id="residualsChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="footer_popup">
                    <div class="wrap_btn txt_r">
                        <button type="button" class="btn_m" data-dismiss="modal">Close</button>
                    </div>
                    <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Model Information -->

    <!-- Model Explanation -->
    <div class="modal fade popup_explanation" id="modal-explanation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="header_popup">
                    <strong class="tit_popup">Model Explanation</strong>
                    <div class='help-text'>
                        You can see explanation about models auto-generated by Lime.
                    </div>
                </div>
                <div class="body_popup" id="modal-explanation-loading">
                    Loading... Please wait.
                </div>
                <div class="body_popup" id="modal-explanation-error">
                    Sorry. This model cannot load explanation.
                </div>
                <div class="body_popup" id="modal-explanation-done">
                    <iframe style='border: 0; width:100%;height: 300px;'></iframe>
                </div>
                <div class="footer_popup">
                    <div class="wrap_btn txt_r">
                        <button type="button" class="btn_m" data-dismiss="modal">Close</button>
                    </div>
                    <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Model Explanation -->

    <!-- Model Metric -->
    <div class="modal fade popup_info" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="header_popup">
                    <strong class="tit_popup">Metrics</strong>
                    <div class='help-text'>
                        Check information about the model
                    </div>
                </div>
                <div class="body_popup" id="modal-info-loading">
                    Loading... Please wait.
                </div>
                <div class="body_popup" id="modal-info-error">
                    Sorry. This model cannot load information.
                </div>
                <div class="body_popup" id="modal-info-done">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody id="metric_tbody">
                        </tbody>
                    </table>
                </div>
                <div class="footer_popup">
                    <div class="wrap_btn txt_r">
                        <button type="button" class="btn_m" data-dismiss="modal">Close</button>
                    </div>
                    <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Model Metric -->

    <!-- Model Deploy -->
    <div class="modal fade" id="modal-deploy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="header_popup">
                    <strong class="tit_popup">Model Deploy</strong>
                </div>
                <div class="body_popup" id="modal-deploy-loading">
                    The model is being deployed.
                </div>
                <div class="body_popup" id="modal-deploy-error">
                    Sorry. Model deployment failed.
                </div>
                <div class="body_popup" id="modal-deploy-done">
                    Model deployment is complete. Redirecting to the deployment tab.
                </div>
                {% comment %} <div class="footer_popup">
                    <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- //Model Explanation -->

    

    <!-- information -->
    <div id="modal-information" class="modal popup_infomation fade in">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="header_popup">
                    <strong class="tit_popup">Information</strong>
                </div>
                <div class="body_popup">
                    <ul class="nav nav-tabs list_menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pipeline</a>
                        </li>
                        <li class="nav-item active">
                            <a href="#" class="nav-link">Metrics</a>
                        </li>
                    </ul>
                    <div class="tab-content box_content">
                        <div class="tab-pane">
                            <div class="txt_r">
                                <button type="button" class="btn_m btn_border">Download</button>
                            </div>
                            <img src="/static/autoinsight_frontend/img/img_pipeline.png" class="img_pipeline" alt="" width="801" height="300">
                        </div>
                        <div class="tab-pane fade active in">
                            <div class="help-text">
                                You can check various metrics to compare model performance.
                            </div>
                            <table class="tbl_g table-striped">
                                <thead>
                                <tr>
                                    <th>Metric</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody id="metric_tbody">
                                    <tr>
                                        <td class="txt_l">accuracy</td>
                                        <td class="txt_l">0.9666666666666668</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">balancedAccuracy</td>
                                        <td class="txt_l">0.9666666666666666</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">f1Macro</td>
                                        <td class="txt_l">0.9666499582289056</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">f1Micro</td>
                                        <td class="txt_l">0.9666666666666668</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">f1Weighted</td>
                                        <td class="txt_l">0.9666499582289056</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">precisionMacro</td>
                                        <td class="txt_l">0.9672727272727272</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">precisionMicro</td>
                                        <td class="txt_l">0.9666666666666668</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">precisionWeighted</td>
                                        <td class="txt_l">0.9672727272727274</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">recallMacro</td>
                                        <td class="txt_l">0.9666666666666666</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">recallMicro</td>
                                        <td class="txt_l">0.9666666666666668</td>
                                    </tr>
                                    <tr>
                                        <td class="txt_l">recallWeighted</td>
                                        <td class="txt_l">0.9666666666666668</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer_popup">
                    <div class="wrap_btn txt_r">
                        <button type="button" class="btn_m btn_confirm" data-dismiss="modal">Save</button>
                        <button type="button" class="btn_m" data-dismiss="modal">Cancel</button>
                    </div>
                    <button type="button" class="btn_close" data-dismiss="modal"><span class="ico_automl ico_close">팝업닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- //information -->

{% endblock %}