{% load static %}
{% block style_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autoinsight</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Noto+Serif+KR:700&display=swap" rel="stylesheet">
    <!-- static -->
    <link href="{% static 'autoinsight_frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/fileinput.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'autoinsight_frontend/css/bootstrap-multiselect.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'autoinsight_frontend/img/favicon.ico' %}">
{% endblock %}

{% block script_foot %}
    <script>
        var g_RESTAPI_HOST_BASE = '{{ BACKEND_RESTAPI_URL }}'; // base.js로 이전예정
        var runtime_id = '{{ runtime_id }}';
    </script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/jquery-3.3.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap-table.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap-multiselect.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'autoinsight_frontend/js/overview.js' %}"></script>
    <script>
        $(document).ready(function() {
            $FRONTEND._p.base();
            $FRONTEND._p.init();
        });

    </script>

{% endblock %}

{% block page_content %}
    <div class="wrapper wrap_preprocess">
        <header>
            <div class="container">
                <a href="/"><h1>
                    <img src="{% static 'autoinsight_frontend/img/logo_automl.png' %}" class="img_logo" width="221" height="42" alt="AutoInsight">
                </h1></a>
            </div>
        </header>
        <!-- //header -->

        <main>
            <div class="container">
                <div class="wrap_nav">
                    <button id="data_btn" class="btn_back" type="button"
                            onclick="window.location.href='/experiment'"><span class="ico_automl ico_back">Back to Experiments</span>
                    </button>
                    <nav class="nav_cont">
                        <ul class="list_menu">
                            <li class="active">
                                <a class="link_menu" href="/overview/{{ runtime_id }}/">Overview</a>
                            </li>
                            <li>
                                <a class="link_menu" href="/preprocess/{{ runtime_id }}/">Preprocess<div id="preprocess_loader"></div></a>
                            </li>
                            <li>
                                <a class="link_menu" href="/leaderboard/{{ runtime_id }}/">Leaderboard <div id="leaderboard_loader"></div></a>
                            </li>
                            <li>
                                <a class="link_menu" href="/deploy/{{ runtime_id }}/">Deploy Model</a>
                            </li>
                        </ul>
                    </nav>
                    <button id="runButton" class="btn_b" type="button" onclick="$FRONTEND._p.setRunSetting()">
                    </button>
                    <div id="run-setting" class="layer_automl layer"> <!-- Run AutoML 클릭시 block 처리-->
                        <div class="wrap_btn layer">
                            <button id="classification_confirm" type="button" class="btn_m" onclick="$FRONTEND._p.updateConfirmInfo('classifier')">Classification</button> <!-- 선택시 on 클래스 추가 -->
                            <button id="regression_confirm" type="button" class="btn_m" onclick="$FRONTEND._p.updateConfirmInfo('regressor')">Regression</button>
                        </div>
                        <dl>
                            <div class="item_dl type_inline">
                                <dt>Target</dt>
                                <dd>
                                    <span id="target_confirm"></span>
                                </dd>
                            </div>
                            <div class="item_dl type_inline">
                                <dt>Metric</dt>
                                <dd>
                                    <div class="wrap_select">
                                        <select id="metric_confirm" class="form-control layer" onchange="$FRONTEND._p.updateConfirmInfo()">
                                        </select>
                                    </div>
                                    <!--<button class="btn_set"><span class="ico_automl ico_set">설정</span></button>-->
                                </dd>
                            </div>
                        </dl>
                        <span class="tail"></span>
                    </div>
                </div>
                <section class="section_content">
                    <h2 class="screen_out">Preprocess</h2><!-- tab menu 에서 선택된 텍스트가 들어갑니다. -->
                    <div class='help-text help-tab'>
                        General Settings Overview for the experiment selected
                    </div>
                    <div class="area_tit">
                        <h3 id="runtime_name" class="tit_table"></h3>
                    </div>

                    <div class="cont_overview">
                        <div class="row">
                            <ul class="nav flex-column col-lg-2" id="myTab"  role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link link_menu" data-toggle="tab" href="#objective" role="tab" aria-controls="objective" aria-selected="true">Objective</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link_menu" data-toggle="tab" href="#evaluation" role="tab" aria-controls="evaluation" aria-selected="true">Evaluation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link_menu" data-toggle="tab" href="#processor" role="tab" aria-controls="processor" aria-selected="false">Preprocessor
                                        <div class="tooltip_model">
                                            <span class="ico_automl ico_info">자세히보기</span>
                                            <div class='txt_tooltip'>
                                                The dataset is pre-processed as selected before the modeling processes. <br>
                                                Auto-configure option automatically determines the necessary preprocessor options judging by the given dataset. <br>
                                                The options shown here is in the order of execution.
                                            </div>
                                        </div>
                                    </a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link_menu" data-toggle="tab" href="#estimator" role="tab" aria-controls="estimator" aria-selected="false">Estimators</a>
                                </li>
                            </ul>
                            <div class="tab-content box_content col-lg-10" id="myTabContent">
                                <!-- Objective -->
                                <div class="tab-pane fade active in" id="objective" role="tabpanel" aria-labelledby="objective-tab">
                                    <dl class="list_evaluation">
                                        <div class="item_dl type_inline">
                                            <dt>Estimator Type
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        The type of problem to solve. <!--<br>
                                                    Check <a href="https://scikit-learn.org/stable/modules/model_evaluation.html">scoring functions</a> for more details about each of them.-->
                                                    </div>
                                                </a>
                                            </dt>
                                            <dd>
                                                <div class="wrap_select">
                                                    <select id="estimator_type" class="form-control toggle-disable gen-conf" onchange="$FRONTEND._p.updateEstimatorType()">
                                                        <option value = "classifier" selected>
                                                            <a class="link_option">Classification</a>
                                                        </option>
                                                        <option value = "regressor">
                                                            <a class="link_option">Regression</a>
                                                        </option>
                                                    </select>
                                                </div>
                                            </dd>
                                        </div>
                                        <div class="item_dl type_inline">
                                            <dt>Target
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        The variable that needs to be predicted.
                                                    </div>
                                                </a>
                                            </dt>
                                            <dd>
                                                <div class="wrap_select">
                                                    <select id="target" class="form-control toggle-disable gen-conf">
                                                    </select>
                                                </div>
                                            </dd>
                                        </div>


                                        <div class="item_dl type_inline">
                                            <dt>Time Out (.min)
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        The time limit for the entire experiment by minutes.
                                                    </div>
                                                </a>
                                            </dt>
                                            <dd>
                                                <input type="number" name="" id="gen_time_out" class="inp_txt inp_timeout gen-conf" min="1" max="180" value="60">
                                            </dd>
                                        </div>

                                        <div class="item_dl type_inline">
                                            <dt>Additional Framework
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        Additional Frameworks to be used for modelling.
                                                    </div>
                                                </a>
                                            </dt>
                                            <dd>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="autosklearn" id="autosklearn" class="inp_check modal_check gen-conf">
                                                    <label for="autosklearn" class="label_check"><span class="ico_automl ico_check"></span>AutoSklearn</label>
                                                </div>
                                            </dd>
                                            <dd>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="tpot" id="tpot" class="inp_check modal_check gen-conf">
                                                    <label for="tpot" class="label_check"><span class="ico_automl ico_check"></span>TPOT</label>
                                                </div>
                                            </dd>
                                            <dd>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="ensemble" id="ensemble" class="inp_check modal_check gen-conf">
                                                    <label for="ensemble" class="label_check"><span class="ico_automl ico_check"></span>Ensemble</label>
                                                </div>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>

                                <!-- Evaluation -->
                                <div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">
                                    <dl class="list_evaluation">
                                        <div class="item_dl type_inline">
                                            <dt>Scoring Metric
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        The method to evaluate the quality of a model. <!--<br>
                                                    Check <a href="https://scikit-learn.org/stable/modules/model_evaluation.html">scoring functions</a> for more details about each of them.-->
                                                    </div>
                                                </a>
                                            </dt>
                                            <dd>
                                                <div class="wrap_select">
                                                    <select name="" id="metric" class="form-control gen-conf">
                                                    </select>
                                                </div>
                                            </dd>
                                        </div>
                                        <div class="item_dl item_evaluation type_inline">
                                            <div>
                                                <dt>Method
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            The method to split the dataset into training set and test set to avoid overfitting in the model validation process. <!--<br>
                                                        CV (Cross-Validation) randomly splits the dataset into k subsets of equal size. The model is trained on k-1 folds while one remaining fold is kept as a test set. <br>
                                                        This process is repeated for k times, and the performance measure is the average of the scoring metric computed in the loop. <br>
                                                        Holdout simply splits the whole dataset into random train / test subsets. The default ratio of split is 0.67 / 0.33.-->
                                                        </div>
                                                    </a>
                                                </dt>
                                                <dd>
                                                    <div class="wrap_select">
                                                        <select name="" id="resampling_strategy" class="form-control gen-conf">
                                                            <option value="holdout">Holdout</option>
                                                            <!--<option value="holdout-iterative-fit">Holdout-Iterative-Fit</option>-->
                                                            <option value="cv">CV</option>
                                                            <!--<option value="partial-cv">Partial-CV</option>-->
                                                        </select>
                                                    </div>
                                                </dd>
                                            </div>

                                            <div id="train_split_area">
                                                <dt>Train Split
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            The ratio of training set (values between 0 and 1).
                                                        </div>
                                                    </a>
                                                </dt>
                                                <dd>
                                                    <input id="split_testdata_rate" class="inp_txt gen-conf" type="number" step="0.01" value="0.67">
                                                </dd>
                                                <!--<button type="button" class="btn btn_custom" data-toggle="modal" data-target="#modal-customize">Customize</button>-->
                                            </div>

                                            <div id="k_folds_area">
                                                <dt>K-folds
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            The number of folds made in CV, which should be an integer.
                                                        </div>
                                                    </a>
                                                </dt>
                                                <dd>
                                                    <input type="number" name="" id="resampling_strategy_cv_folds" class="inp_txt inp_timeout gen-conf" min="1" max="10" value="5">
                                                </dd>
                                            </div>
                                        </div>


                                        <div class="item_dl type_inline">
                                            <dt>Max Evaluation Time (.min)
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        The time limit for each model in the experiment by minutes.
                                                    </div>
                                                </a>
                                            </dt>
                                            <dd>
                                                <input type="number" name="" id="gen_max_eval_time" class="inp_txt inp_timeout" min="1" value="3">
                                            </dd>
                                        </div>

                                    </dl>
                                </div>
                                <!-- //Evaluation -->

                                <!-- Preprocessor -->
                                <div class="tab-pane fade" id="processor" role="tabpanel" aria-labelledby="processor-tab">
                                    <dl class="list_processor">
                                        <!-- <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class='txt_tooltip'>
                                                The dataset is pre-processed as selected before the modeling processes. <br>
                                                Auto-configure option automatically determines the necessary preprocessor options judging by the given dataset. <br>
                                                The options shown here is in the order of execution.
                                            </div>
                                        </a> -->






                                        <div class="item_dl type_inline">
                                            <dt>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="" id="pre_1HotEncod" class="inp_check modal_check gen-conf">
                                                    <label for="pre_1HotEncod" class="label_check"><span class="ico_automl ico_check"></span>One Hot Encoding</label>
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            Categorical or Object columns (e.g. texts) used as Features in the experiment are One-Hot-Encoded if this option is checked.<br>
                                                            Otherwise, categorical columns are encoded into integers (Label Encoding).<br>
                                                            [Note] One Hot Encoding converts each category of a column into binary columns that can lead to a larger dataset.
                                                        </div>
                                                    </a>
                                                </div>
                                            </dt>
                                        </div>

                                        <div class="item_dl type_inline">
                                            <dt>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="" id="pre_VarThreshold" class="inp_check modal_check gen-conf">
                                                    <label for="pre_VarThreshold" class="label_check"><span class="ico_automl ico_check"></span>Variance Threshold</label>
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            Preprocessor finds out the features with their variances lower than the standard (0 by default),<br>
                                                            and deletes those features with low or no predictive power.
                                                        </div>
                                                    </a>
                                                </div>
                                            </dt>
                                        </div>


                                        <div class="item_dl type_inline item_scaling">
                                            <dt>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="" id="pre_Scaling" class="inp_check modal_check gen-conf">
                                                    <label for="pre_Scaling" class="label_check"><span class="ico_automl ico_check"></span>Scaling</label>
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            Preprocessor scales or standardizes the entire features by the selected method, which can lead to better results in certain models.
                                                        </div>
                                                    </a>
                                                </div>
                                            </dt>
                                            <dd>
                                                <span class="label_txt">Methods</span>
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        Details for each method can be found in scikit-learn official website.
                                                    </div>
                                                </a>
                                                <div class="wrap_select">
                                                    <select id="pre_SMethod" class="form-control gen-conf" multiple="multiple">
                                                        <!--<option value="Standard" selected>Standardize</option>
                                                        <option value="MinMax">Minmax</option>
                                                        <option value="MaxAbs">Normalize</option>-->
                                                    </select>
                                                </div>
                                            </dd>
                                        </div>

                                        <div class="item_dl type_inline item_engineering">
                                            <dt>
                                                <div class="wrap_check">
                                                    <input type="checkbox" name="" id="pre_FtrSlcon" class="inp_check modal_check gen-conf">
                                                    <label for="pre_FtrSlcon" class="label_check"><span class="ico_automl ico_check"></span>Feature Engineering</label>
                                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                        <div class="txt_tooltip">
                                                            Feature Engineering methods including Feature Selection and Dimension Reduction are applied to improve the or boost the performance for a high-dimensional dataset.<br>
                                                            [Note] Some of these methods including matrix decomposition or kernel approximation can convert the shape of whole features.
                                                        </div>
                                                    </a>
                                                </div>
                                            </dt>
                                            <dd>
                                                <span class="label_txt">Methods</span>
                                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                    <div class="txt_tooltip">
                                                        Preprocessor figures out the one optimal method among selected feature engineering methods to apply to the dataset.
                                                    </div>
                                                </a>
                                                <div class="wrap_select">
                                                    <select name="" id="pre_FMethod" class="form-control gen-conf" multiple="multiple">
                                                    </select>
                                                </div>
                                            </dd>
                                        </div>



                                    </dl>
                                </div>
                                <!-- //Processor -->

                                <!-- estimator -->
                                <div class="tab-pane fade" id="estimator" role="tabpanel" aria-labelledby="estimator-tab">
                                    <div class="content_estimator">
                                        <div id="available_estimators">
                                        </div>
                                    </div>
                                </div>
                                <!-- //estimator-->
                            </div>
                        </div>
                        <h4 class="tit_overview">Preview Table</h4>
                        <table id="overview_preview_table"
                               data-pagination="false"
                               class="tbl_g tbl_preprocess">
                        </table>
                        <h4 class="tit_overview">Column Table</h4>
                        <table id="overview_column_table"
                               data-pagination="false"
                               class="tbl_g tbl_preprocess">
                        </table>
                    </div>
                </section>
            </div>
        </main>
        <!-- //main -->

    </div>

    <!-- //popup -->
{% endblock %}
