{% load static %}
{% block style_head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Autoinsight</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Noto+Serif+KR:700&display=swap" rel="stylesheet">
<!-- static -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link href="{% static 'autoinsight_frontend/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'autoinsight_frontend/css/bootstrap-table.min.css' %}" rel="stylesheet">
<link href="{% static 'autoinsight_frontend/css/fileinput.css' %}" rel="stylesheet">
<link href="{% static 'autoinsight_frontend/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'autoinsight_frontend/css/style.css' %}" rel="stylesheet">
<link href="{% static 'autoinsight_frontend/css/bootstrap-multiselect.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'autoinsight_frontend/img/favicon.ico' %}">
{% endblock %}

{% block script_foot %}
<script>
  var g_RESTAPI_HOST_BASE = '{{ BACKEND_RESTAPI_URL }}'; // base.js로 이전예정
  var runtime_id = '{{ runtime_id }}';
</script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/jquery-3.3.1.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/fileinput.js' %}"></script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/bootstrap-multiselect.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="{% static 'autoinsight_frontend/js/preprocess.js' %}"></script>
<script>
  $(document).ready(function() {
    $FRONTEND._p.init();
  });

</script>

{% endblock %}

{% block page_content %}
<div class="wrapper">
    <header>
        <div class="container">
            <a href="/"><h1>
                <img src="{% static 'autoinsight_frontend/img/logo_automl.png' %}" class="img_logo" width="221" height="42" alt="AutoInsight">
            </h1></a>
        </div>
        <button id="data_btn" class="btn_m btn_border" style="margin-left: 78%;" type="button" onclick="window.location.href='/experiment'">Back to Experiment</button>
    </header>
    <!-- //header -->

    <main>
        <div class="container">
            <nav>
                <ul class="list_menu">
                    <li>
                        <a class="link_menu" href="/dataset/{{ runtime_id }}/">Dataset</a>
                    </li>
                    <li class="active">
                        <a class="link_menu" href="/preprocess/{{ runtime_id }}/">Preprocess<div id="preprocess_loader"></div></a>
                    </li>
                    <li>
                        <a class="link_menu" href="/leaderboard/{{ runtime_id }}/">Leaderboard <div id="leaderboard_loader"></div></a>
                    </li>
                    <li>
                        <a class="link_menu" href="/deploy/{{ runtime_id }}/">Deploy Model</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <section class="section_content">
                <h2 class="screen_out">Preprocess</h2><!-- tab menu 에서 선택된 텍스트가 들어갑니다. -->

                <div class="area_tit">
                    <h3 id="dataset_name" class="tit_table"></h3>
                    <!--<div class="wrap_btn">
                        <button id="data_btn" class="btn_m btn_border toggle-disable" type="button" data-toggle="modal" data-target="#modal-dataset">Data Load</button>
                        <button class="btn_m btn_border toggle-disable" type="button" onclick="$FRONTEND._p.clearAll();">All Clear</button>
                    </div> -->
                </div>

                <div id="dataset_info" class="area_util">
                    <ul class="list_count">
                        <li>
                            <span class="ico_automl ico_arr"></span>Row Count <span id="row_count" class="txt_emph"></span>
                        </li>
                        <li>
                            <span class="ico_automl ico_arr"></span>Column Count <span id="col_count" class="txt_emph"></span>
                        </li>
                    </ul>
                    <button class="btn_m btn_correlation" type="button" data-toggle="modal" data-target="#modal-correlation">Feature correlation</button>
                    <!--<div class="wrap_search">
                        <input type="text" name="" id="" class="inp_txt">
                        <button class="btn_search"><span class="ico_automl ico_search">검색</span></button>
                    </div>-->
                </div>
                <table id="column_table"
                       data-toggle="table"
                       data-pagination="false"
                       data-url = "{{ BACKEND_RESTAPI_URL }}runtimes/{{ runtime_id }}/dataset/columns/"
                       class="tbl_g tbl_preprocess">
                    <colgroup>
                        <col style="width:170px">
                        <col style="width:130px">
                        <col style="width:92px">
                        <col style="width:168px">
                        <col style="width:90px">
                        <col style="width:80px">
                        <col style="width:75px">
                        <col style="width:75px">
                        <col style="width:120px">
                        <col style="width:100px">
                        <col style="width:100px">
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="txt_l" data-field="name">Name
                            <button class="btn_sort" type="button"><span class="ico_automl ico_sort">정렬</span></button>
                        </th>
                        <th data-field="datatype" data-formatter="$FRONTEND._p.datatypeFormatter">Datatype</th>
                        <th data-field="missing">Missing</th>
                        <th data-field="imputation" data-formatter="$FRONTEND._p.imputationFormatter">Imputation
                            <button class="btn_interpolation" type="button"><span class="ico_automl ico_interpolation">설정</span></button>
                        </th>
                        <th data-field="unique">Unique</th>
                        <th data-field="mean">Mean</th>
                        <th data-field="min">Min</th>
                        <th data-field="max">Max</th>
                        <th data-formatter="$FRONTEND._p.distributionFormatter">Distribution</th>
                        <th data-field="isFeature" data-formatter="$FRONTEND._p.featureFormatter">Features</th>
                        <th data-field="isTarget" data-formatter="$FRONTEND._p.targetFormatter">Target</th>
                        <th data-field="taskType">Task Type</th>
                    </tr>
                    </thead>
                </table>


                <div class="area_util2">
                    <strong class="tit_select">AutoML Type</strong>
                    <div class="wrap_select">
                        <select id="estimator_type" class="form-control toggle-disable">
                            <option value = "classifier" selected>
                                <a class="link_option" href="#none">Classification</a>
                            </option>
                            <option value = "regressor">
                                <a class="link_option" href="#none">Regression</a>
                            </option>
                        </select>
                    </div>
                    <div class="wrap_btn">
                        <button class="btn_b btn_setup" type="button" data-toggle="modal" data-target="#modal-setting">
                            <span class="ico_automl ico_setup">설정</span>
                        </button>
                        <button class="btn_b btn_confirm toggle-disable" type="button" onclick="$FRONTEND._p.runAutoml()">
                            Run AutoML <span class="ico_automl ico_arr"></span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- //main -->

</div>

<!-- Add New Dataset -->
<div class="modal fade popup_dataset" id="modal-dataset" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header_popup">

                <strong class="tit_popup">Add New Dataset</strong>
            </div>
            <div class="body_popup">
                <dl>
                    <div class="item_dl">
                        <dt>Name</dt>
                        <dd>
                            <label for="name" class="screen_out">Name</label>
                            <input type="text" name="" id="dataset_name_input" class="inp_txt">
                            <div id="saved_dataset_area" class="wrap_select">
                                <select id="saved_dataset" class="form-control">
                                    <option value ="iris" selected>Iris</option>
                                    <option value ="diabetes" >Diabetes</option>
                                    <option value ="boston">Boston</option>
                                    <option value ="wine">Wine</option>
                                </select>
                            </div>
                            <div class="area_file">
                                <div class="wrap_select">
                                    <select id="source_type" class="form-control">
                                        <option value ="saved">Saved</option>
                                        <option value ="local" selected>Local</option>
                                        <option value ="icos">ICOS</option>
                                        <option value ="hdfs">HDFS</option>
                                    </select>
                                </div>

                                <input id="dataset" type="file" class="inp_file">

                            </div>
                        </dd>
                    </div>
                    <!--<div class="item_dl type_inline">
                        <dt>Seperator</dt>
                        <dd>
                            <div class="wrap_radio">
                                <div class="item_radio">
                                    <input type="radio" name="seperator" id="seperator1" class="inp_radio" checked>
                                    <label for="seperator1" class="label_radio"><span class="ico_automl ico_radio"></span>CSV</label>
                                </div>
                                <div class="item_radio">
                                    <input type="radio" name="seperator" id="seperator2" class="inp_radio">
                                    <label for="seperator2" class="label_radio"><span class="ico_automl ico_radio"></span>TSV</label>
                                </div>
                            </div>
                        </dd>
                    </div>-->
                    <div class="item_dl type_inline">
                        <dt>Random Sampling count</dt>
                        <dd>
                            <label for="count" class="screen_out">Random Sampling count</label>
                            <input type="number" name="" id="sample_size" class="inp_txt" style="width:140px">
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="footer_popup">
                <div class="wrap_btn txt_r">
                    <button type="button" class="btn_m btn_confirm" onclick="$FRONTEND._p.addDataset()">Add Dataset</button>
                    <button type="button" class="btn_m" data-dismiss="modal">Cancel</button>
                </div>
                <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>

            </div>
        </div>
    </div>
</div>
<!-- //Add New Dataset -->

<div class="modal fade popup_parameter" id="modal-setting" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header_popup">
                <strong class="tit_popup">Preprocessor Setting</strong>
            </div>
            <div class="body_popup">
                <ul class="nav nav-tabs list_menu" id="myTab"  role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link link_menu" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link_menu" data-toggle="tab" href="#processor" role="tab" aria-controls="processor" aria-selected="false">Preprocessor</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link link_menu" data-toggle="tab" href="#algorithm" role="tab" aria-controls="algorithm" aria-selected="false">Algorithm</a>
                    </li>-->
                </ul>
                <div class="tab-content box_content" id="myTabContent"><!-- 알고리즘 선택시 content_algorithm 클래스 추가 -->
                    <!-- General -->
                    <div class="tab-pane fade active in" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <dl class="list_general">
                            <div class="item_dl type_inline">
                                <dt>Scoring Metric</dt>
                                <dd>
                                    <div class="wrap_select">
                                        <select name="" id="metric" class="form-control">
                                        </select>
                                    </div>
                                </dd>
                            </div>
                            <div class="item_dl item_evaluation type_inline">
                                <div>
                                    <dt>Evaluation</dt>
                                    <dd>
                                        <div class="wrap_select">
                                            <select name="" id="resampling_strategy" class="form-control">
                                                <option value="holdout">Holdout</option>
                                                <!--<option value="holdout-iterative-fit">Holdout-Iterative-Fit</option>-->
                                                <option value="cv">CV</option>
                                                <!--<option value="partial-cv">Partial-CV</option>-->
                                            </select>
                                        </div>
                                    </dd>
                                </div>

                                <div id="train_split_area">
                                    <dt>Train Split</dt>
                                    <dd>
                                        <input id="split_testdata_rate" class="inp_txt" type="number" step="0.01" value="0.67">
                                    </dd>
                                    <!--<button type="button" class="btn btn_custom" data-toggle="modal" data-target="#modal-customize">Customize</button>-->
                                </div>

                                <div id="k_folds_area">
                                    <dt>K-folds</dt>
                                    <dd>
                                        <input type="number" name="" id="resampling_strategy_cv_folds" class="inp_txt inp_timeout" min="1" max="10" value="5">
                                    </dd>
                                </div>
                            </div>

                            <!--<div class="item_dl type_inline">
                                <dt>Over Sampling</dt>
                                <dd>
                                    <div class="wrap_select">
                                        <select name="" id="gen_over_sampling" class="form-control">
                                            <option value="None">None</option>
                                            <option value="RandomOverSampler">Random Over Sampler</option>
                                            <option value="ADASYN">ADASYN</option>
                                            <option value="SMOTE">SMOTE</option>
                                        </select>
                                    </div>
                                </dd>
                            </div>-->

                            <div class="item_dl type_inline">
                                <dt>Time Out (.min)</dt>
                                <dd>
                                    <input type="number" name="" id="gen_time_out" class="inp_txt inp_timeout" min="1" max="180" value="60">
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <!-- //General -->

                    <!-- Preprocessor -->
                    <div class="tab-pane fade" id="processor" role="tabpanel" aria-labelledby="processor-tab">
                        <button class="btn_m btn_border" type="button">Auto Configure</button>
                        <dl class="list_processor">
                            <div class="item_dl type_inline">
                                <dt>                                  <!-- ============= processor Add Dataset Button ============= -->
                                    <div class="wrap_check">        <!-- seems like there is no button except general page Check it...  -->
                                        <input type="checkbox" name="" id="pre_DrpNCols" class="inp_check modal_check">       <!-- 1st check box NoN -->
                                        <label for="processor1" class="label_check"><span class="ico_automl ico_check"></span>Drop NaN Columns</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                Column 내에서 threshold 이상의 결측값 비율이 있을 경우, <br>해당 Column을 삭제합니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                                <dd>
                                    <label for="na_col_drop_threshold" class="label_txt">Threshold(%)</label>
                                    <input id="na_col_drop_threshold" type="number" name="" value="0.9" min="0" max="1" step="0.05" class="inp_txt">
                                </dd>
                            </div>

                            <div class="item_dl type_inline">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_OtlrElmntn" class="inp_check modal_check">
                                        <label for="pre_OtlrElmntn" class="label_check"><span class="ico_automl ico_check"></span>Outlier Elimination</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                해당 Column에서 Method와 Threshold에 해당하는 방법으로 <br>이상치가 존재하는 Row를 삭제합니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                                <dd>
                                    <label for="processor4_text" class="label_txt">Column</label>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            Outlier 제거할 column
                                        </div>
                                    </a>
                                    <select name="" id="pre_Ocolumn" class="form-control columns" multiple="multiple">
                                    </select>
                                </dd>
                                <dd>
                                    <label for="processor4_text" class="label_txt">Method</label>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            Outlier 제거 방법
                                        </div>
                                    </a>
                                    <div class="wrap_select">
                                        <select name="" id="pre_Omethod" class="form-control">
                                            <option value="BoxPlotRule">Box Plot Rule</option>
                                            <option value="Zscore" selected>Z-score</option>
                                        </select>
                                    </div>
                                </dd>
                                <dd>
                                    <div id="pre_Othreshold_all">
                                        <label for="processor4_text" class="label_txt">Threshold</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                Z-score일 때 사용하는 임계값 (Default 3)
                                            </div>
                                        </a>
                                        <input type="number" name="" id="pre_Othreshold" class="inp_txt" value="3">
                                    </div>
                                </dd>
                            </div>

                            <div id="powerTrans_area">
                                <div class="item_dl type_inline">
                                    <dt>
                                        <div class="wrap_check">
                                            <input type="checkbox" name="" id="pre_PrTrnsfrm" class="inp_check modal_check">
                                            <label for="pre_PrTrnsfrm" class="label_check"><span class="ico_automl ico_check"></span>Power Transformation</label>
                                            <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                                <div class="txt_tooltip">
                                                    선택한 Column을 Strategy에 따라 변환합니다. <br>해당 Column에 음수가 존재할 경우 <br>Yeo-Johnson Transformation을 권장합니다.
                                                </div>
                                            </a>
                                        </div>
                                    </dt>
                                    <dd>
                                        <span class="label_txt">Column</span>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                Transform 할 column 선택
                                            </div>
                                        </a>
                                        <div class="wrap_select">
                                            <select id="pre_Pcolumn_0" class="pre_Pcolumns form-control columns">
                                            </select>
                                        </div>
                                    </dd>
                                    <dd>
                                        <span class="label_txt">Strategy</span>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                Algorithm Information <br>
                                                알고리즘 설명
                                            </div>
                                        </a>
                                        <div class="wrap_select">
                                            <select id="pre_Pstrategy_0" class="pre_Pstrategies form-control">
                                                <option value="Log" selected>Log</option>
                                                <option value="SquaredRoot">Squared Root</option>
                                                <option value="Square">Square</option>
                                                <option value="BoxCoxTransformation">Box-Cox Transformation</option>
                                                <option value="YeoJohnsonTransformation" selected>Yeo-Johnson Transformation</option>
                                            </select>
                                        </div>
                                    </dd>
                                    <button type="button" class="btn_cal" style="opacity: 0;"></button>
                                </div>
                                <dd><div class="txt_next">
                                    <button type="button" class="btn_cal" onclick="$FRONTEND._p.addPowerTrans('1')">+</button>
                                </div></dd>
                                <hr>
                            </div>

                            <div class="item_dl type_inline">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_1HotEncod" class="inp_check modal_check">
                                        <label for="pre_1HotEncod" class="label_check"><span class="ico_automl ico_check"></span>One Hot Encoding</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                텍스트 등 object로 구성된 Column을, <br>기본적으로 사용되는 Integer Encoding 대신 원-핫-인코딩 처리합니다. <br>
                                                [주의] 원-핫-인코딩을 실시하면 각 Object 별로 Column이 생성되며 Column 개수가 늘어납니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                            </div>

                            <div class="item_dl type_inline">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_VarThreshold" class="inp_check modal_check">
                                        <label for="pre_VarThreshold" class="label_check"><span class="ico_automl ico_check"></span>Variance Threshold</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                설 <br> 명

                                            </div>
                                        </a>
                                    </div>
                                </dt>
                            </div>


                            <div class="item_dl type_inline item_scaling">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_Scaling" class="inp_check modal_check">
                                        <label for="pre_Scaling" class="label_check"><span class="ico_automl ico_check"></span>Scaling</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                Strategy에 맞게 전체 변수를 스케일링합니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                                <dd>
                                    <span class="label_txt">Methods</span>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            설명
                                        </div>
                                    </a>
                                    <div class="wrap_select">
                                        <select id="pre_SMethod" class="form-control" multiple="multiple">
                                            <!--<option value="Standard" selected>Standardize</option>
                                            <option value="MinMax">Minmax</option>
                                            <option value="MaxAbs">Normalize</option>-->
                                        </select>
                                    </div>
                                </dd>
                            </div>

                            <div class="item_dl type_inline">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_FtrSlcon" class="inp_check modal_check">
                                        <label for="pre_FtrSlcon" class="label_check"><span class="ico_automl ico_check"></span>Feature Engineering</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                F값을 기준으로 K가 정수일 경우 K개의 Feature를, <br>K가 0과 1 사이의 소수일 경우 <br>전체 Feature 개수 중 K 비율의 Feature만 추출합니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                                <dd>
                                    <span class="label_txt">Methods</span>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            Scaling Strategy
                                        </div>
                                    </a>
                                    <div class="wrap_select">
                                        <select name="" id="pre_FMethod" class="form-control" multiple="multiple">
                                            <!--<option value="SelectPercentile" selected>SelectPercentile</option>
                                            <option value="SelectKBest">SelectKBest</option>
                                            <option value="SelectFwe">SelectFwe</option>
                                            <option value="FastICA">FastICA</option>
                                            <option value="FeatureAgglomeration">FeatureAgglomeration</option>
                                            <option value="PCA">PCA</option>
                                            <option value="Nystroem">Nystroem</option>-->
                                        </select>
                                    </div>
                                </dd>
                            </div>

                            <!--<div class="item_dl type_inline">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_DmnsnltyRdctn" class="inp_check modal_check">
                                        <label for="pre_DmnsnltyRdctn" class="label_check"><span class="ico_automl ico_check"></span>Dimensionality Reduction</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                Strategy와 n에 맞춰 전체 데이터셋에 대하여 차원 축소를 실시합니다. <br>
                                                [주의] 데이터를 보다 잘 설명하도록 변환하며 기존 데이터셋의 칼럼은 사라지게 됩니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                                <dd>
                                    <span class="label_txt">Algorithm</span>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            Algorithm Information <br>
                                            알고리즘 설명
                                        </div>
                                    </a>
                                    <div class="wrap_select">
                                        <select name="" id="pre_algorithm" class="form-control">
                                            <option value="PCA" selected>PCA</option>
                                            <option value="FactorAnalysis">Factor Analysis</option>
                                            <option value="LDA">LDA</option>
                                            <option value="tSNE">t-SNE</option>
                                        </select>
                                    </div>
                                </dd>
                                <dd>
                                    <span class="label_txt">Number of Features</span>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            몇 개의 feature를 남길 것인지 선택합니다.
                                        </div>
                                    </a>
                                    <input type="number" name="" id="pre_numFeature" class="inp_txt">
                                </dd>
                            </div>
                            <div class="item_dl type_inline">
                                <dt>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="" id="pre_FtrSlcon" class="inp_check modal_check">
                                        <label for="pre_FtrSlcon" class="label_check"><span class="ico_automl ico_check"></span>Feature Selection</label>
                                        <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                            <div class="txt_tooltip">
                                                F값을 기준으로 K가 정수일 경우 K개의 Feature를, <br>K가 0과 1 사이의 소수일 경우 <br>전체 Feature 개수 중 K 비율의 Feature만 추출합니다.
                                            </div>
                                        </a>
                                    </div>
                                </dt>
                                <dd>
                                    <label for="processor6_text" class="label_txt">K</label>
                                    <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                        <div class="txt_tooltip">
                                            선택할 feature의 개수
                                        </div>
                                    </a>
                                    <input type="number" name="" id="pre_feature_k" class="inp_txt">
                                </dd>
                            </div>-->

                        </dl>
                    </div>
                    <!-- //Processor -->

                    <!-- Algorithm -->
                    <!--<div class="tab-pane fade" id="algorithm" role="tabpanel" aria-labelledby="algorithm-tab">
                        <div class="content_algorithm">
                            <ul class="list_tab">
                                <li class="active">
                                    <a href="#TPOT" class="link_tab active in" data-toggle="tab">TPOT</a>
                                </li>
                                <li>
                                    <a href="#Auto-scikit" class="link_tab" data-toggle="tab">Auto-scikit</a>
                                </li>
                                <li>
                                    <a href="#Custom" class="link_tab" data-toggle="tab">Custom</a>
                                </li>
                            </ul>
                            <div class="content_algorithm tab-content cont_tab">
                                <div class="tab-pane fade active in" id="TPOT" role="tabpanel" aria-labelledby="TPOT-tab">
                                    <div class="wrap_check">
                                        <input type="checkbox" name="TPOT" id="TPOT1" class="inp_check modal_check">
                                        <label for="TPOT1" class="label_check"><span class="ico_automl ico_check"></span>TPOT1</label>
                                    </div>
                                    <div class="wrap_check">
                                        <label for="TPOT1_text" class="label_txt">Description of TPOT1 Item</label>
                                        <input type="text" name="" id="TPOT1_text" class="inp_txt">
                                    </div>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="TPOT" id="TPOT2" class="inp_check modal_check">
                                        <label for="TPOT2" class="label_check"><span class="ico_automl ico_check"></span>TPOT2</label>
                                    </div>
                                    <div class="wrap_check">
                                        <label for="TPOT2_text" class="label_txt">Description of TPOT2 Item</label>
                                        <input type="text" name="" id="TPOT2_text" class="inp_txt">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Auto-scikit" role="tabpanel" aria-labelledby="Auto-scikit-tab">
                                    <div class="wrap_check">
                                        <input type="checkbox" name="Auto-scikit" id="Auto_scikit1" class="inp_check modal_check">
                                        <label for="Auto_scikit1" class="label_check"><span class="ico_automl ico_check"></span>Auto-scikit1</label>
                                    </div>
                                    <div class="wrap_check">
                                        <label for="Auto-scikit1_text" class="label_txt">Description of Auto-scikit1 Item</label>
                                        <input type="text" name="" id="Auto-scikit1_text" class="inp_txt">
                                    </div>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="TPOT" id="Auto-scikit2" class="inp_check modal_check">
                                        <label for="Auto-scikit2" class="label_check"><span class="ico_automl ico_check"></span>Auto-scikit2</label>
                                    </div>
                                    <div class="wrap_check">
                                        <label for="Auto-scikit2_text" class="label_txt">Description of Auto-scikit2 Item</label>
                                        <input type="text" name="" id="Auto-scikit2_text" class="inp_txt">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Custom" role="tabpanel" aria-labelledby="Custom-tab">
                                    <div class="wrap_check">
                                        <input type="checkbox" name="Custom" id="Custom1" class="inp_check modal_check">
                                        <label for="Custom1" class="label_check"><span class="ico_automl ico_check"></span>Custom1</label>
                                    </div>
                                    <div class="wrap_check">
                                        <label for="Custom1_text" class="label_txt">Description of Custom1 Item</label>
                                        <input type="text" name="" id="Custom1_text" class="inp_txt">
                                    </div>
                                    <div class="wrap_check">
                                        <input type="checkbox" name="Custom" id="Custom2" class="inp_check modal_check">
                                        <label for="Custom2" class="label_check"><span class="ico_automl ico_check"></span>Custom2</label>
                                    </div>
                                    <div class="wrap_check">
                                        <label for="Custom2_text" class="label_txt">Description of Custom2 Item</label>
                                        <input type="text" name="" id="Custom2_text" class="inp_txt">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- //Algorithm-->
                </div>
            </div>
            <div class="footer_popup">
                <div class="wrap_btn txt_r">
                    <!--<button type="button" class="btn_m btn_custom pull-left" onclick="$FRONTEND._p.reset()">Reset</button>--><!-- pre processor tab일때만 노출 -->
                    <button type="button" class="btn_m btn_confirm toggle-disable" onclick="$FRONTEND._p.saveGenConf()">Save</button>
                    <button type="button" class="btn_m" data-dismiss="modal">Cancel</button>
                </div>
                <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>

            </div>
        </div>
    </div>
</div>
<!-- //Add New Dataset -->

<!-- Feature Correlation -->
<div class="modal fade popup_correlation" id="modal-correlation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header_popup">
                <strong class="tit_popup">Feature Correlation</strong>
            </div>
            <div class="body_popup">
                <!-- high chart -->
                <div id="container" style="height: 400px; width:100%"></div>
                <!-- //high chart -->
            </div>
            <div class="footer_popup">
                <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- //Feature Correlation -->

<!-- Interploation Setup -->
<div class="modal popup_setup" id="modal-interploation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header_popup">
                <strong class="tit_popup">Interploation Setup</strong>
            </div>
            <div class="body_popup">
                <div class="wrap_radio">
                    <div class="item_radio">
                        <input type="radio" name="deploy" id="setup1" class="inp_radio">
                        <label for="setup1" class="label_radio"><span class="ico_automl ico_radio"></span>mean</label>
                    </div>
                    <div class="item_radio">
                        <input type="radio" name="deploy" id="setup2" class="inp_radio">
                        <label for="setup2" class="label_radio"><span class="ico_automl ico_radio"></span>Drop</label>
                    </div>
                    <div class="item_radio">
                        <input type="radio" name="deploy" id="setup3" class="inp_radio">
                        <label for="setup3" class="label_radio"><span class="ico_automl ico_radio"></span>None</label>
                    </div>
                </div>
            </div>
            <div class="footer_popup">
                <div class="wrap_btn txt_r">
                    <button type="button" class="btn_m btn_confirm">Save</button>
                    <button type="button" class="btn_m">Close</button>
                </div>
                <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- //Interploation Setup -->

<!-- Preview -->
<div class="modal popup_parameter" id="modal-preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header_popup">
                <strong class="tit_popup">Data Preview</strong>
            </div>
            <div class="body_popup">
                <table class="table table-bordered table-hover tbl_g" id="preview_table"
                       data-toggle="table"
                       data-side-pagination="server"
                       data-pagination="true"
                       data-only-info-pagination="false"
                       data-page-list="[10, 20, 50, 100]"
                       data-page-size="20"
                >
                    <colgroup>
                        <col style="width:172px">
                        <col style="width:138px">
                        <col style="width:138px">
                        <col style="width:138px">
                        <col style="width:138px">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="border_line">title0</th>
                        <th scope="col">sepal.lenght</th>
                        <th scope="col">sepal.width</th>
                        <th scope="col">petal.lenght</th>
                        <th scope="col">petal.width</th>
                        <th scope="col">Variety</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">title1</th>
                        <td>0</td>
                        <td>30</td>
                        <td>10</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th scope="row">title2</th>
                        <td>0</td>
                        <td>30</td>
                        <td>10</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th scope="row">title3</th>
                        <td>0</td>
                        <td>30</td>
                        <td>10</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th scope="row">title4</th>
                        <td>0</td>
                        <td>30</td>
                        <td>10</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer_popup">
                <div class="wrap_btn txt_r">
                    <button type="button" class="btn_m btn_confirm">Save</button>
                    <button type="button" class="btn_m">Cancel</button>
                    <button type="button" class="btn_m">Back</button>
                </div>
                <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- //10/31 추가팝업 Preprocess Setting -->

<!-- Customize Train Split -->
<div class="modal fade popup_custom" id="modal-customize" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="header_popup">
                <strong class="tit_popup">Customize Train Split</strong>
            </div>
            <div class="body_popup">
                <dl class="list_custom">
                    <div class="item_dl">
                        <dt>By Date</dt>
                        <dd>
                            <div class="wrap_calendar">
                                <div class="input-group date" id='datetimepicker1'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    <input id="datepicker" data-provide="datepicker" type='text' class="form-control" />
                                </div>
                                <!-- https://github.com/uxsolutions/bootstrap-datepicker -->
                                <a href="#none" class="tooltip_model"><span class="ico_automl ico_info">자세히보기</span>
                                    <div class="txt_tooltip">
                                        Algorithm Information <br>
                                        알고리즘 설명
                                    </div>
                                </a>
                            </div>
                        </dd>
                    </div>
                    <!--<div class="item_dl item_value">
                        <dt>By Value</dt>
                        <dd>
                            <div class="wrap_select">
                                <select name="" id="" class="form-control">
                                    <option value="">column1</option>
                                </select>
                            </div>
                            <div class="wrap_select type_small">
                                <select name="" id="" class="form-control">
                                    <option value="">&gt;</option>
                                </select>
                            </div>
                            <div class="wrap_select">
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="txt_next">
                                and
                            </div>
                        </dd>
                        <dd>
                            <div class="wrap_select">
                                <select name="" id="" class="form-control">
                                    <option value="">column2</option>
                                </select>
                            </div>
                            <div class="wrap_select type_small">
                                <select name="" id="" class="form-control">
                                    <option value="">&lt;</option>
                                </select>
                            </div>
                            <div class="wrap_select">
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button type="button" class="btn_cal">-</button>
                            <div class="txt_next">
                                and
                            </div>
                        </dd>
                        <dd>
                            <div class="wrap_select">
                                <select name="" id="" class="form-control">
                                    <option value="">column3</option>
                                </select>
                            </div>
                            <div class="wrap_select type_small">
                                <select name="" id="" class="form-control">
                                    <option value="">=</option>
                                </select>
                            </div>
                            <div class="wrap_select">
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button type="button" class="btn_cal">-</button>
                            <div class="txt_next">
                                <button type="button" class="btn_cal">+</button>
                            </div>
                        </dd>
                    </div>-->
                </dl>
            </div>
            <div class="footer_popup">
                <div class="wrap_btn txt_r">
                    <button type="button" class="btn_m btn_confirm" data-dismiss="modal">Save</button>
                    <button type="button" class="btn_m" data-dismiss="modal">Cancel</button>
                </div>
                <button type="button" class="btn_close" data-dismiss="modal"><span class="fas fa-times"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- //Customize Train Split -->

<!-- //popup -->
{% endblock %}
